<div class="container gestion gestionHorario">

    <div class="seccionGestionHorario seccionGestionHorarioSelectorTipoEntidad">
        <app-selector-tipo-entidad></app-selector-tipo-entidad>
    </div>
        
    <div class="seccionGestionHorario seccionGestionHorarioSelectorEntidad">
        <app-selector-entidad></app-selector-entidad>
    </div>

    <div class="seccionGestionHorario seccionGestionHorarioVisorEntidad">
        <app-visor-entidad></app-visor-entidad>
    </div>

    <div class="seccionGestionHorario seccionGestionHorarioVisorHorario">
        <app-visor-horario></app-visor-horario>
    </div> 

</div>

